# Device naming rules based on product ID
# For activate the setting, do following as root privileged 
# udevadm control --reload-rules
# udevadm trigger
# # to check vendor and product id
# lsusb : simple 
# udevadm info -a -n ttyUSB0 : detailed

KERNEL=="ttyUSB*",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6001",  MODE="666",SYMLINK+="ttyUSB-920MHz"
# For RPLiDAR
KERNEL=="ttyUSB*",ATTRS{idVendor}=="10c4",ATTRS{idProduct}=="ea60",  MODE="0777",SYMLINK+="ttyUSB-RPLiDAR"

KERNEL=="ttyUSB*",ATTRS{idVendor}=="1a86",ATTRS{idProduct}=="7523",  MODE="666",SYMLINK+="ttyUSB-Arduino"
KERNEL=="ttyUSB*",ATTRS{idVendor}=="056e",ATTRS{idProduct}=="5004",  MODE="666",SYMLINK+="ttyUSB-WhillCR"

# KERNEL=="ttyACM*",ATTRS{idVendor}=="10c4",ATTRS{idProduct}=="ea60",  MODE="666",SYMLINK+="ttyUSB-LDS-02"

# RTK-GNSS colcon build
# Bus 004 Device 012: ID 1546:0502 U-Blox AG C099; ZED-F9P
# Bus 004 Device 013: ID 1546:0503 U-Blox AG C099; ODIN-W2
# Bus 004 Device 014: ID 1546:01a9 U-Blox AG u-blox GNSS receiver
KERNEL=="ttyACM*",ATTRS{idVendor}=="1546",ATTRS{idProduct}=="01a9",  MODE="666",SYMLINK+="ttyUSB-ublox"

# Naming rules based on GPIO definitions
## Primary UART UART port on raspberrypi
KERNEL=="ttyAMA0*",  MODE="666",SYMLINK+="ttyGPIO" 

## Primary UART port on Jetson Xavier
KERNEL=="ttyTHS0*",  MODE="666",SYMLINK+="ttyGPIO" 

# Change permission mode for i2c (Raspberry Pi)
KERNEL=="i2c*", MODE="666"